.custom-inset-shadow {
  box-shadow:
    0px 3px 4px 0px #a8a2ff40 inset,
    0px -3px 4px 0px #a8a2ff40 inset,
    0px 3px 4px 0px #a8a2ff66 inset,
    0px -3px 4px 0px #a8a2ff66 inset,
    0px -3px 4px 0px #857cff66 inset,
    0px 3px 4px 0px #857cff66 inset;
}
