@import url("https://fonts.cdnfonts.com/css/satoshi");
@import url("https://fonts.cdnfonts.com/css/telegraf");

button {
  font-family: "Satoshi", sans-serif;
}
body {
  background-image: url("images/03f5d5104bf86086518b6ce15f28970b5b3d58d6.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  font-family:  'Telegraf ', sans-serif;";
  /* max-width: 1920px; */
}

.custom-inset-shadow {
  box-shadow:
    0px 3px 4px 0px #a8a2ff40 inset,
    0px -3px 4px 0px #a8a2ff40 inset,
    0px 3px 4px 0px #a8a2ff66 inset,
    0px -3px 4px 0px #a8a2ff66 inset,
    0px -3px 4px 0px #857cff66 inset,
    0px 3px 4px 0px #857cff66 inset;
}
